<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://unpkg.com/enter-view"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn3GOUTQMDNTctq4DRIeAIOkMAJWDMsGQ&libraries=places&callback=initAutocomplete" async defer></script>  
	
	<script src="{{basepath}}assets/scripts/d3-delaunay.min.js"></script>
    <script src="{{basepath}}assets/scripts/d3.v5.js"></script>
    <script src="{{basepath}}assets/scripts/typeahead.bundle.js"></script>
    <script src="{{basepath}}assets/scripts/autocomplete.js"></script>
	<script src='main.js?version={{timestamp}}' async></script>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
		<div class='intro'>
			<h1 class='intro__hed'>Around the World</h1>
			<p class='intro__dek'>A map from your doorstep, to the other side of the world, and back again.</p>
			<p class='intro__byline'>By
				<a href='http://dnewcomb.com' class="link-text" target='_blank'>
					<strong>David Newcomb</strong>
				</a>
			</p>
			<time class='intro__time'>June 2020</time>
			<div class='intro__prelude'>
                <p>
                    On June 14, 2020 in the middle of <a class="link-text" target="_blank" href="https://oceanconservancy.org/blog/2020/05/26/celebrate-national-ocean-month-us/">Ocean Month</a>, U.S. explorer, oceanographer and astronaut <a class="link-text" target="_blank" href="https://en.wikipedia.org/wiki/Kathryn_D._Sullivan">Kathy Sullivan</a> hit an incredible milestone. As part of a research mission, she dove nearly 36,000 feet to the deepest point in the ocean: <a class="link-text" target="_blank" href="https://www.cnn.com/travel/article/astronaut-kathy-sullivan-challenger-deep-dive-scn/index.html">Challenger Deep</a>. Completing this dive is the ocean's extreme answer to summitting Mt. Everest, the highest point on Earth, standing at a formidable 29,000 ft. In completing her voyage, Kathy became the first and only person to both fly to the outermost reaches of space exploration and dive to its farthest depths.<br><br>

                    The scientific importance of her mission to collect samples from the seafloor highlights, as well, the crucial goals of Ocean Month: to promote sustainable ocean use and encourage ocean exploration. We have yet to observe nearly <a class="link-text" target="_blank" href="https://www.livescience.com/14493-ocean-exploration-deep-sea-diving.html">95% of the ocean</a> or to classify <a class="link-text" target="_blank" href="https://oceanservice.noaa.gov/facts/ocean-species.html">90% of ocean species</a>, making it Earth's last unexplored frontier. Discovering these new species could lead to untold beauty, appreciation, and innovation. Observing nature's ingenuity has led to beneficial advancements like <a class="link-text" target="_blank" href="https://www.technologyreview.com/2008/03/06/221447/whale-inspired-wind-turbines/">whalefin-inspired wind turbines</a> and <a class="link-text" target="_blank" href="https://www.wired.com/2005/03/shark-skin-inspires-ship-coating/">sharkskin-inspired ship coating</a> amongst many others.<br><br>

                    In honor of Ocean Month and Kathy's exploration, I spent some time virtually exploring the Earth. I collected land elevation data, ocean depth data, and international boundary data (see <a class="link-text" href="#appendix">Appendix</a>). I wanted to know what's on the <a class="link-text" target="_blank"  href="https://www.antipodesmap.com/">other side of the world</a>. I wanted to learn what it would be like to take a journey from my front door, up to the North Pole, down the opposite side to the South Pole, and back home again. This trip would represent the longest "straight line" trip I could take around the world. Mapping it out could show me which oceans I'd sail on and which nations I'd visit.<br><br>

                    Visually inspired by <a class="link-text" target="_blank" href="https://www.reddit.com/r/westworld/comments/fw37d5/what_is_the_divergence_thing/">Westworld's divergence visualization</a>, I created a circular  visualization of Earth's elevation to help explore every slice of the world. Just type in any starting place below and start exploring!
        		</p>
			</div>
			</div>
		</div>
		<br>
		<br>
		<br>

		<input id="autocomplete" placeholder="Enter your origin" type="text" class="form-control">
		<text id="longitude" value=""></text>
		<text id="latitude" value=""></text>

		<div id="wrapper-container">
			<div class="preloader">
			    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0"><circle cx="50" cy="50" r="4.719" fill="none" stroke="#3DC257" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/></circle><circle cx="50" cy="50" r="27.591" fill="none" stroke="#54a0ff" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/></circle></svg>
	  		</div>
			<div id="graphic-wrapper" class="graphic-wrapper"></div>
  		</div>
		
		<div class='intro' id="appendix" style="font-family: 'Avenir'">
			<h2>Appendix</h2>
			<p>The global elevation data above comes from <a class="link-text" target="_blank" href="https://www.ngdc.noaa.gov/mgg/global/">NOAA</a>. To calculate elevation, they created a grid of the Earth and averaged elevation for each rectangle of the grid. They made the grid from 21,600 vertical slices of longitude (representing 1 <a class="link-text" target="_blank" href="https://en.wikipedia.org/wiki/Minute_and_second_of_arc">arc-minute</a> each) and 10,800 horizontal slices of latitude. Due to the curvature of the Earth, these curved grid rectangles are approximately 1 mile by 1 mile at Equator, and like a thinning ribbon, they converge to 0 miles wide each of the poles.<br><br>

			Since each grid slice has width, at any given latitude-longitude point, there can be overlap between countries or maritime zones. For instance, half the width of a slice could be taken up by Nepal, and the other half could be taken up by China. In situations of overlap, I defaulted to show the country with a lower population count. On the flip side, for maritime overlap, I prioritized showing larger bodies of water since oceans are the article's primary focus.<br><br>

			Going back a moment though, how do we find intersections between these slices and countries/oceans in the first place? To find intersections, I started by finding <a href="https://en.wikipedia.org/wiki/Shapefile">shapefiles</a>. In the geospatial world, shapefiles are file formats that outline the boundaries of any shape and often carry some metadata. I got maritime shapefile data from <a class="link-text" target="_blank" href="https://www.marineregions.org/">Marine Regions</a> and country shapefile data from <a class="link-text" target="_blank" href="https://www.naturalearthdata.com/downloads/10m-cultural-vectors/">Natural Earth</a>. After converting global elevation slices into shapefiles as well, I overlayed each slice on top of land and water files, found intersections and output combined data. After that, it was a matter of making the graph.<br><br>

			One interesting learning about maritime data was how far off the coast countries maintain economic autonomy (often 200 miles) as part of their <a class="link-text" target="_blank" href="https://en.wikipedia.org/wiki/Exclusive_economic_zone#:~:text=An%20exclusive%20economic%20zone%20(EEZ,production%20from%20water%20and%20wind.">Exclusive Economic Zones</a>. I added these maritime zones as part of each country's territory, helping highlight island nations that may have otherwise appeared unfairly small in the circular visualization.<br><br>

			I'm also currently working on a <a class="link-text" target="_blank" href="https://native-land.ca/territory-acknowledgement/">territory acknowledgment</a> article that can help highlight the native lands that modern countries occupy. For this article, I'm applying the same method above and using native territory shapefiles from the <a class="link-text" target="_blank" href="https://native-land.ca/">Native Land</a> project. The data is highly detailed for North America and Australia, but largely absent from other parts of the world, so I'm working to find other sources and help expand the Native Land repository.<br><br>
			</p>
		</div>


	</main>

	{{> base/footer }}

</body>

</html>
